# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
venv/
env/
.env
.venv/
env.bak/
venv.bak/

# Streamlit
.streamlit/

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code / IDEs
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# Data files (Optional - depending on if you want the dataset in GitHub)
# Un-comment the line below if you DO NOT want to push the dataset to GitHub
# WA_Fn-UseC_-Telco-Customer-Churn.csv
